body{
  margin: 0;
  padding: 0;
  background-color: hsla(229, 23%, 9%, 0.965);
  color: white;
  font-family: sans-serif;
  overflow: hidden;
}

nav{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  height: 45px;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.nav-control{
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.arrow-left{
 display: none;
 cursor: pointer;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.nav-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 20px;
  transform-origin: center;
  transition: transform 0.4s ease-in;
}

.nav-button:hover{
  transform: rotateZ(90deg);
}

.nav-button-option{
  display: none;
  position: absolute;
  right: 20px;
  top: 40px;
  border: 2px solid white;
  padding: 5px;
  border-radius: 4px;
  background-color: hsla(228, 22%, 18%, 0.965);
}

.nav-button-holder:hover .nav-button-option{
  display: block;
}

.add-note{
  background-color: rgb(47, 46, 46);
  position: absolute;
  display: none;
  flex-direction: column;
  margin-left: calc(50vw - 400px);
  margin-top: 120px;
  width: 800px;
  height: 600px;
  border: 1.5px solid hsla(0, 1%, 38%, 0.79);
  border-radius: 10px;
  z-index: 10;
}

.note-title-holder{
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-title{
  background-color: transparent;
  color: white;
  width: 680px;
  height: 40px;
  border-radius: 50px;
  margin: 10px 18px;
  outline: none;
  padding: 0px 10px;
  font-size: 15px;
}

.note-content{
  resize: none;
  background-color: transparent;
  color: white;
  outline: none;
  font-size: 18px;
  width: 770px;
  height: 460px;
  margin: 0px 11px;
  border-radius: 10px;
}

.add-note-buttons{
  margin-top: 9px;
  margin-left: 580px;
  display: flex;
  column-gap: 30px;
}

.add-note-buttons button{
  height: 50px;
  width: 80px;
  font-size: 18px;
  text-align: center;
  border: 1px solid hsla(0, 1%, 38%, 0.79);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.add{
  background-color: rgb(1, 67, 1);
}

.add:hover{
  background-color: rgb(1, 41, 1);
}

.cancel{
  background-color: rgb(146, 1, 1);
}

.cancel:hover{
  background-color: rgb(88, 2, 2);
}

.main-body{
  display: flex;
  height: calc(100vh - 47px);
}

.main1{
  width: 400px;
  height: calc(100vh - 60px);
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 0;
  row-gap: 10px;
}

.main1 button{
  width: 100%;
  height: 50px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 0px;
  border: none;
  background-color: hsla(120, 83%, 39%, 0.303);
  color: white;
}

.main1 button:hover{
  background-color: hsla(120, 83%, 39%, 0.657);
}

.main1 .empty-note{
  width: 100%;
  text-align: center;
  color: rgb(168, 168, 255);
}

.main1 .cards{
  border-top: 2px solid gray;
  width: 100%;
  height: calc(100vh - 47px - 75px);
  border: 2x solid white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.cards .cards-title{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.cards .cards-holder{
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.cards-holder .card{
  border-bottom: 1px solid gray;
  padding: 2px 5px;
  height: 100px;
  position: relative;
  cursor: pointer;
}

.cards-holder .card:hover{
  background-color: hsla(229, 21%, 16%, 0.965);
  transform: scale(1.01);
}

.card .title{
  font-weight: bold;
  font-size: 18px;
}

.card .content{
  height: 55px;
  overflow: hidden;
  text-overflow: clip;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card .title span, .card .content span{
  color: gray;
}

.card .title p, .card .content p{
  display: inline;
}

.title-white{
  color: white;
}

.title-red{
  color: rgb(160, 26, 26);
}

.card .time{
  position: absolute;
  bottom: 2px;
  font-size: 14px;
  color: gray;
}

.main2{
  width: calc(100vw - 400px);
  overflow: hidden;
  border: 0;
}

.main2 .empty-container{
  text-align: center;
}

.main2-card{
  padding: 10px 0 0 0;
  flex-direction: column;
  display: flex;
  position: relative;
  height: 100%;
}

.main2-card-title{
  display: flex;
  column-gap: 20px;
  border-bottom: 2px solid gray;
  padding: 0 0 5px 20px;
}

.main2-card-title span{
  font-size: 40px;
  color: gray;
}

.main2-card-title input{
  height: 40px;
  background-color: transparent;
  border: 0;
  width: 1386px;
  color: white;
  font-size: 35px;
  outline: none;
}

.main2-card-content{
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid white;
}

.main2-card-content span{
  font-size: 24px;
  color: gray;
}

.main2-card-content textarea{
  resize: none;
  background-color: transparent;
  width: calc(100vw - 400px - 20px);
  height: calc(100vh - 230px);
  padding: 0 10px 0 10px;
  color: white;
  font-size: 24px;
  outline: none;
  border: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.main2-card .view-buttons-container{
  display: flex;
  column-gap: 40px;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 60px - 20px);
}

.view-buttons-container button{
  width: 60px;
  height: 35px;
  font-size: 18px;
  text-align: center;
  color: white;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.view-buttons-container .edit-button{
  background-color: rgb(69, 69, 228);
}

.view-buttons-container .edit-button:hover{
  background-color: rgb(39, 39, 126);
}

.view-buttons-container .save-button{
  display: none;
  background-color: rgb(0, 95, 0);
}

.view-buttons-container .save-button:hover{
  background-color: rgb(0, 65, 0);
}

.view-buttons-container .delete-button{
  background-color: rgb(126, 0, 0);
}

.view-buttons-container .delete-button:hover{
  background-color: rgb(77, 0, 0);
}

@media (max-width: 1200px){
  .main1{
    width: 300px;
  }

  .main1 button{
    font-size: 20px;
  }

  .cards .cards-title{
    font-size: 20px;
  }

  .card .title{
    font-size: 15px;
  }

  .card .content{
    font-size: 13px;
  }

  .main2{
    width: calc(100vw - 300px);
  }

  .main2 .empty-container{
    font-size: 25px;
  }

  .main2-card-content textarea{
    width: calc(100vw - 300px - 20px);
  }
}

@media (max-width: 850px){
  .add-note{
    margin-top: 70px;
    margin-left: calc(50vw - 300px);
    width: 600px;
    height: 500px;
  }

  .main-body{
    height: calc(100vh - 100px);
  }

  .note-title-holder{
    width: 580px;
    padding-left: 10px;
  }

  .note-content{
    width: 580px;
    height: 370px;
    margin: 0 7px;
  }

  .add-note-buttons{
    margin-top: 9px;
    margin-left: 400px;
    column-gap: 20px;
  }
  
  .add-note-buttons button{
    height: 40px;
  }
}

@media (max-width: 735px){
  .main1{
    width: 200px;
  }

  .main1 button{
    height: 45px;
  }

  .cards-holder .card{
    height: 80px;
  }

  .main2{
    width: calc(100vw - 200px);
  }

  .main2-card-content textarea{
    width: calc(100vw - 200px - 20px);
  }
}

@media (max-width: 650px){
  .add-note{
    margin-top: 20px;
    margin-left: calc(50vw - 230px);
    width: 455px;
  }

  .note-title-holder{
    width: 440px;
  }

  .note-content{
    width: 445px;
    height: 370px;
    margin: 0 0 0 2px;
  }

  .add-note-buttons{
    display: flex;
    justify-content: center;
    margin-left: 0;
    column-gap: 20px;
  }

  .main1{
    width: 100vw;
  }

  .main2{
    display: none;
    width: 100vw;
  }

  .main2-card-content{
    border: 0;
  }

  .main2-card-content textarea{
    width: 100vw;
    height: 64vh;
    border-bottom: 2px solid gray;
  }
}

@media (max-width: 450px){
  .add-note{
    margin-left: calc(50vw - 155px);
    width: 310px;
  }

  .note-title-holder{
    width: 300px;
  }

  .note-content{
    width: 300px;
    height: 370px;
    margin: 0 0 0 2px;
  }
}